<sfeir-search-bar [initialSearch]="search()" (search)="filterPeopleBySearch($event)" />
<section>
  @switch (view()) {
    @case ('card') {
      @for (person of people(); track person.id) {
        <sfeir-card data-testid="card-view" [person]="person" (personDelete)="deletePerson($event)" />
      } @empty {
        No Data Yet
      }
    }
    @case ('list') {
      <mat-list data-testid="list-view">
        @for (person of people(); track person.id) {
          <mat-list-item class="mat-whiteframe-2dp mat-card">
            <img alt="person-image" [ngSrc]="person.photo" matListItemAvatar height="40" width="40" />
            <h3 matListItemLine>
              {{ person.firstname }} {{ person.lastname }}
              <span class="sfeir-badge" [sfeirBadge]="person.isManager"></span>
            </h3>
            <p matListItemLine>
              <span> {{ person.entity }} </span> — <span>{{ person.email }} </span>
            </p>
          </mat-list-item>
        }
      </mat-list>
    }
  }
</section>

<section class="buttons-fab">
  <button mat-fab color="accent" class="button-add" (click)="showDialog()" data-testid="button-modal"><i class="material-icons">add</i></button>
  <button mat-fab color="warn" (click)="changeView()" data-testid="view-button">
    <i class="material-icons">{{ view() === 'card' ? 'list' : 'view_stream' }}</i>
  </button>
</section>
