<form (ngSubmit)="onSave()" novalidate [formGroup]="personForm" data-testid="person-form">
  <section class="form-container">
    <section class="form-container__image">
      <img width="100" height="120" [ngSrc]="personForm.value.photo" alt="person-photo" />
      <input type="hidden" name="photo" formControlName="photo" />
    </section>
    <section>
      <mat-form-field appearance="outline">
        <mat-label>First name</mat-label>
        <input type="text" matInput placeholder="First name" name="firstname" formControlName="firstname" />
        @if (personForm.controls.firstname.errors?.['required']) {
          <mat-error>Ce champs est requis</mat-error>
        }
        @if (personForm.controls.firstname.errors?.['minlength']) {
          <mat-error>Ce champs doit posséder minimum 2 caractères</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last name</mat-label>
        <input type="text" matInput placeholder="Last name" name="lastname" formControlName="lastname" />
        @if (personForm.controls.lastname.errors?.['required']) {
          <mat-error>Ce champs est requis</mat-error>
        }
        @if (personForm.controls.lastname.errors?.['minlength']) {
          <mat-error>Ce champs doit posséder minimum 2 caractères</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="email" name="email" formControlName="email" />
        @if (personForm.controls.email.errors?.['required']) {
          <mat-error>Ce champs est requis</mat-error>
        }
        @if (personForm.controls.email.errors?.['sfeirEmail']) {
          <mat-error>Format non valid, format attendu: frizzarin.n&#64;sfeir.com</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>phone</mat-label>
        <input type="phone" matInput placeholder="phone" name="phone" formControlName="phone" />
        @if (personForm.controls.phone.errors?.['required']) {
          <mat-error>Ce champs est requis</mat-error>
        }
        @if (personForm.controls.phone.errors?.['pattern']) {
          <mat-error>Ce champs doit respecter le pattern suivant (10 caractères)</mat-error>
        }
      </mat-form-field>
    </section>
  </section>
  <div class="form-user-action">
    <button mat-button type="button" (click)="onCancel()">Cancel</button>
    <button mat-button color="primary" type="submit" [disabled]="personForm.invalid">Save</button>
  </div>
</form>
