<mat-card class="mat-whiteframe-2dp">
  <mat-card-title>
    <span>{{ person?.id ? 'Update Existing Person' : 'Create new person' }}</span>
  </mat-card-title>
  <mat-card-content>
    <form novalidate [formGroup]="personForm">
      <section class="form-container">
        <section class="form-container__image">
          <img width="100" [src]="person?.photo || 'https://randomuser.me/api/portraits/lego/6.jpg'" />
          <input type="hidden" formControlName="photo" name="photo" />
        </section>
        <section>
          <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input type="text" matInput placeholder="First name" formControlName="firstname" name="firstname" />
            <mat-error *ngIf="personForm.controls.firstname.errors?.required">Ce champs est requis</mat-error>
            <mat-error *ngIf="personForm.controls.firstname.errors?.minlength"
              >Ce champs doit posséder au minimum 2 caractères
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input type="text" matInput placeholder="Last name" formControlName="lastname" />
            <mat-error *ngIf="personForm.controls.lastname.errors?.required">Ce champs est requis</mat-error>
            <mat-error *ngIf="personForm.controls.lastname.errors?.minlength"
              >Ce champs doit posséder au minimum 2 caractères
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="email" formControlName="email" />
            <mat-error *ngIf="personForm.controls.email.errors?.required">Ce champs est requis</mat-error>
            <mat-error *ngIf="personForm.controls.email.errors?.sfeirEmail"
              >Le format est incorrect (frizzarin.n@sfeir.com)</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>phone</mat-label>
            <input type="phone" matInput placeholder="phone" formControlName="phone" />
            <mat-error *ngIf="personForm.controls.phone.errors?.required">Ce champs est requis</mat-error>
            <mat-error *ngIf="personForm.controls.phone.errors?.pattern"
              >Pattern incorrect (10 chiffres requis)
            </mat-error>
          </mat-form-field>
        </section>
      </section>
    </form>
    <mat-card-actions align="end">
      <button mat-button type="button" (click)="cancel()">Cancel</button>
      <button mat-button color="primary" type="submit" (click)="add()" [disabled]="personForm.invalid">Save</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
