section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  :host(.wide) mat-list-item {
    width: 600px;
  }
}

.mat-whiteframe-2dp {
  box-shadow:
    0 1px 5px 0 rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  margin: 10px;
  width: 360px;
  padding: 0;
  margin-left: -12px;
  font-size: 14px;
  display: flex;

  h3 {
    display: flex;
    align-items: flex-start;

    .sfeir-badge {
      margin-left: 0.5rem;
    }
  }
}

.buttons-fab {
  display: block;
  height: 170px;
  width: 90px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.buttons-fab button {
  transition: bottom 0.2s;
}

.buttons-fab:hover .button-add {
  bottom: 90px;
}
