mat-card,
mat-list-item {
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  width: 360px;
}

mat-card:hover {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12);
}

mat-list-item {
  height: 22px;
  padding: 0;
  margin-left: -12px;
  font-size: 14px;
}

mat-card-title {
  margin-bottom: 2rem;
}

mat-card-title span {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

mat-card-subtitle {
  margin-top: -18px;
  height: 17px;
}

mat-card-title-group {
  margin-bottom: 20px;
}

img {
  border-radius: 50%;
  margin-right: 18px;
  -webkit-filter: grayscale(100%);
}

form .form-container {
  display: flex;
}

form .form-container .form-container__image {
  display: flex;
  align-items: baseline;
}

mat-form-field {
  width: 100%;
}
