#sfeir-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255, 205, 165, 1);
  box-sizing: border-box;
  padding: 0.75rem;
  border-radius: 4px;
}

#sfeir-card__title {
  flex: 1;
}

#sfeir-card__subtitle {
  flex: 1;
}

#sfeir-card__content {
  flex: 2;
  overflow: hidden;
}

#sfeir-card__footer {
  border-top: 1px solid rgba(255, 205, 165, 1);
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
