<mat-card class="mat-whiteframe-2dp">
  <mat-card-title>
    <span *ngIf="isUpdateMode; else updateModeOff">Update {{ model?.firstname }} {{ model?.lastname }}</span>
    <ng-template #updateModeOff>
      <span>Create new person</span>
    </ng-template>
  </mat-card-title>

  <mat-card-content>
    <form novalidate #f="ngForm">
      <p *ngIf="isUpdateMode">
        <mat-form-field>
          <input [ngModel]="model?.id" matInput style="width:100%" placeholder="ID (disabled)" disabled name="id" />
        </mat-form-field>
      </p>

      <table style="width: 100%">
        <tr>
          <td>
            <p [class.errors]="firstname.touched && firstname.invalid">
              <mat-form-field>
                <input
                  [ngModel]="model?.firstname"
                  (ngModelChange)="model.firstname = $event"
                  matInput
                  placeholder="First name *"
                  name="firstname"
                  minlength="2"
                  required
                  #firstname="ngModel"
                />
              </mat-form-field>
              <span *ngIf="firstname.touched && firstname.errors?.required"><br />First name is required</span>
              <span *ngIf="firstname.dirty && firstname.errors?.minlength"><br />First name is 2 chars min</span>
            </p>

            <p [class.errors]="lastname.touched && lastname.invalid">
              <mat-form-field>
                <input
                  [ngModel]="model?.lastname"
                  (ngModelChange)="model.lastname = $event"
                  matInput
                  placeholder="Last Name *"
                  name="lastname"
                  minlength="2"
                  required
                  #lastname="ngModel"
                />
              </mat-form-field>
              <span *ngIf="lastname.touched && lastname.errors?.required"><br />Last name is required</span>
              <span *ngIf="lastname.dirty && lastname.errors?.minlength"><br />Last name is 2 chars min</span>
            </p>
          </td>
          <td class="align-right">
            <img alt="photo" width="100" src="{{ model?.photo || 'https://randomuser.me/api/portraits/lego/6.jpg' }}" />
            <input type="hidden" [ngModel]="model?.photo" name="photo" />
          </td>
        </tr>
      </table>

      <p [class.errors]="email.touched && email.invalid">
        <mat-form-field>
          <input
            [ngModel]="model?.email"
            (ngModelChange)="model.email = $event"
            matInput
            placeholder="Email *"
            style="width:100%"
            name="email"
            required
            type="email"
            #email="ngModel"
          />
        </mat-form-field>
        <span *ngIf="email.touched && email.errors?.required">Email is mandatory</span>
      </p>

      <p ngModelGroup="address">
        <mat-form-field>
          <input
            [ngModel]="model?.address?.street"
            (ngModelChange)="model.address.street = $event"
            matInput
            placeholder="Address"
            style="width:100%"
            name="street"
          />
        </mat-form-field>
      </p>

      <p ngModelGroup="address">
        <mat-form-field>
          <input
            [ngModel]="model?.address?.city"
            (ngModelChange)="model.address.city = $event"
            matInput
            placeholder="City"
            name="city"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            [ngModel]="model?.address?.postalCode"
            (ngModelChange)="model.address.postalCode = $event"
            matInput
            placeholder="Postal Code"
            name="postalCode"
          />
        </mat-form-field>
      </p>

      <p [class.errors]="phone.dirty && phone.invalid">
        <mat-form-field>
          <input
            [ngModel]="model?.phone"
            (ngModelChange)="model.phone = $event"
            matInput
            placeholder="Phone * (ex: 0612345678)"
            style="width:100%"
            name="phone"
            pattern="\d{10}"
            required
            #phone="ngModel"
          />
        </mat-form-field>
        <span *ngIf="phone.dirty && phone.errors?.pattern">Phone number must be 10 digits</span>
        <span *ngIf="phone.touched && phone.errors?.required">Phone number is mandatory</span>
      </p>

      <p>
        <mat-checkbox name="isManager" [ngModel]="model?.isManager" (ngModelChange)="model.isManager = $event"
          >Manager
        </mat-checkbox>
      </p>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button type="button" (click)="cancel()">Cancel</button>
    <button mat-button color="primary" type="submit" (click)="submit()" [disabled]="f.invalid">Save</button>
  </mat-card-actions>
</mat-card>
