<mat-card class="mat-whiteframe-2dp">
  <mat-card-title>
    <span>{{ person.id ? 'Update Existing Person' : 'Create new person' }}</span>
  </mat-card-title>
  <mat-card-content>
    <form #f="ngForm">
      <section class="form-container">
        <section class="form-container__image">
          <img width="100" [src]="person.photo || 'https://randomuser.me/api/portraits/lego/6.jpg'" />
          <input type="hidden" [(ngModel)]="person.photo" name="photo" />
        </section>
        <section>
          <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input
              type="text"
              matInput
              placeholder="First name"
              [(ngModel)]="person.firstname"
              name="firstname"
              #firstName="ngModel"
              required
              minLength="2"
            />
            <mat-error *ngIf="firstName.errors?.required">Ce champs est requis</mat-error>
            <mat-error *ngIf="firstName.errors?.minLength">Ce champs doit posséder au minimum 2 caractères </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input
              type="text"
              matInput
              placeholder="Last name"
              #lastName="ngModel"
              [(ngModel)]="person.lastname"
              name="lastname"
              required
              minLength="2"
            />
            <mat-error *ngIf="lastName.errors?.required">Ce champs est requis</mat-error>
            <mat-error *ngIf="lastName.errors?.minLength">Ce champs doit posséder au minimum 2 caractères </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              type="email"
              matInput
              placeholder="email"
              [(ngModel)]="person.email"
              #email="ngModel"
              name="email"
              required
            />
            <mat-error *ngIf="email.errors?.required">Ce champs est requis</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>phone</mat-label>
            <input
              type="phone"
              matInput
              placeholder="phone"
              [(ngModel)]="person.phone"
              #phone="ngModel"
              name="phone"
              required
              pattern="\d{10}"
            />
            <mat-error *ngIf="phone.errors?.required">Ce champs est requis</mat-error>
            <mat-error *ngIf="phone.errors?.pattern">Pattern incorrect (10 chiffres requis) </mat-error>
          </mat-form-field>
        </section>
      </section>
    </form>
    <mat-card-actions align="end">
      <button mat-button type="button" (click)="cancel()">Cancel</button>
      <button mat-button color="primary" type="submit" (click)="add()" [disabled]="f.invalid">Save</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
