<sfeir-search (search)="onSearch($event)" [initValue]="search$ | async"></sfeir-search>
<section [ngSwitch]="view">
  <section *ngSwitchCase="'card'">
    <sfeir-card *ngFor="let person of people$ | async" [person]="person" (personDelete)="delete($event)"></sfeir-card>
  </section>

  <section *ngSwitchCase="'list'">
    <mat-list>
      <mat-list-item *ngFor="let person of people$ | async" class="mat-whiteframe-2dp mat-card">
        <img mat-list-avatar src="{{ person.photo }}" />
        <h3 mat-line>{{ person.firstname }} {{ person.lastname }} <span sfeir-badge [person]="person"></span></h3>
        <p mat-line>
          <span> {{ person.entity }} </span> — <span>{{ person.email }} </span>
        </p>
      </mat-list-item>
    </mat-list>
  </section>
</section>

<section class="buttons-fab" *ngIf="dialogStatus == 'inactive'">
  <button (click)="showDialog()" mat-fab color="accent" class="button-add"><i class="material-icons">add</i></button>

  <button (click)="switchView()" mat-fab color="warn">
    <i class="material-icons" *ngIf="view === 'card'">list</i>
    <i class="material-icons" *ngIf="view === 'list'">view_stream</i>
  </button>
</section>
