<ng-container *ngIf="view$ |async as currentView" [ngSwitch]="currentView">
  <sfeir-search [searchText]="search$ | async" (search)="setSearch($event)"></sfeir-search>
  <section *ngSwitchCase="'card'">
    <sfeir-card *ngFor="let person of people$ | async" [person]="person" (personDelete)="deletePerson($event)">
    </sfeir-card>
  </section>
  <section *ngSwitchCase="'list'">
    <mat-list>
      <div *ngFor="let person of people$ | async" class="mat-whiteframe-2dp mat-card">
        <img src="{{ person.photo }}" alt="person-image" />
        <div class="list-information">
          <h3>{{ person.firstname }} {{ person.lastname }}
            <span class="sfeir-badge" [sfeirBadge]="person.isManager"></span>
          </h3>
          <p>
            <span> {{ person.entity }} </span> — <span>{{ person.email }} </span>
          </p>
        </div>
      </div>
    </mat-list>
  </section>
  <section class="buttons-fab">
    <button mat-fab color="accent" class="button-add" (click)="showDialog()"><i class="material-icons">add</i></button>
    <button mat-fab color="warn" (click)="changeView(currentView)">
      <i class="material-icons">{{ currentView === 'card' ? 'list' : 'view_stream'}}</i>
    </button>
  </section>
</ng-container>
