<form [formGroup]="peopleForm" (ngSubmit)="submit()" data-testid="person-form">
  <section class="form-container">
    @let people = person();
    <section class="form-container__image">
      <img width="100" height="100" [ngSrc]="people.photo" alt="person-photo" />
      <input type="hidden" name="photo" formControlName="photo" />
    </section>
    <section class="form-container__form">
      <mat-form-field appearance="outline">
        <mat-label>First name</mat-label>
        <input type="text" matInput placeholder="First name" name="firstname" formControlName="firstname" />
        @if (peopleForm.controls.firstname.errors?.['required']) {
        <mat-error>Ce champs est requis</mat-error>
        } @if (peopleForm.controls.firstname.errors?.['minlength']) {
        <mat-error>Ce champs doit posséder minimum 2 caractères</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last name</mat-label>
        <input type="text" matInput placeholder="Last name" name="lastname" formControlName="lastname" />
        @if (peopleForm.controls.lastname.errors?.['required']) {
        <mat-error>Ce champs est requis</mat-error>
        } @if (peopleForm.controls.lastname.errors?.['minlength']) {
        <mat-error>Ce champs doit posséder minimum 2 caractères</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="text" matInput placeholder="email" name="email" formControlName="email" />
        @if (peopleForm.controls.email.errors?.['required']) {
        <mat-error>Ce champs est requis</mat-error>
        } @if (peopleForm.controls.email.errors?.['sfeirEmail'] && !peopleForm.controls.email.errors?.['required']) {
        <mat-error>Format non valid, format attendu: frizzarin.n&#64;sfeir.com</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>phone</mat-label>
        <input type="text" matInput placeholder="phone" name="phone" formControlName="phone" />
        @if (peopleForm.controls.phone.errors?.['required']) {
        <mat-error>Ce champs est requis</mat-error>
        } @if (peopleForm.controls.phone.errors?.['pattern']) {
        <mat-error>Ce champs doit respecter le pattern suivant (10 chiffres)</mat-error>
        }
      </mat-form-field>
    </section>
  </section>
  <div class="form-user-action">
    <button mat-button type="button" (click)="onCancel()">Cancel</button>
    <button mat-button color="primary" type="submit" [disabled]="peopleForm.invalid">Save</button>
  </div>
</form>
