/**
  - modify the top of icon to avoid the icon be just below the name of the speaker
**/
.reveal .slides section[data-background].speaker-slide img[alt*=badge] {
  top: 800px;
}

/**
  - add a new class to display code correctly when there is a lot of code on the diapo
**/
.reveal .slides section.with-code pre.medium-code:not(.literal) code {
  font-size: 1.1em;
  line-height: 2em;
}

.reveal .slides section.with-code pre.big-code:not(.literal) code {
  font-size: 1.3em;
  line-height: 2em;
}

.reveal .slides section.with-code pre code {
  max-height: 800px !important;
  overflow: auto !important;
}

.reveal .slides section .important {
  font-weight: bold;
  color: darkred;
}

.reveal .slides section .bold {
  font-weight: 600;
}
.reveal .slides section .file-name {
  font-size: 12px;
}
.reveal .slides section .half {
  width: 50%;
}
.reveal .slides section .tiers {
  width: 30%;
}
.reveal .slides section .fill-rest {
  flex: 2;
}
.reveal .slides section img[alt*=full-width-screen] {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.reveal .slides section img[alt*=bottom] {
  position: absolute;
  bottom: 0;
  left: 0;
}

/** Ensure decent display on non-chrome-based browser **/
@media all and (min--moz-device-pixel-ratio: 0) {
  .reveal .slides section :not(section).full-center {
    height: 100vh;
  }
  .reveal .slides section :not(section).full-center img {
    height: 100%;
  }
  .reveal .slides section p:has(img.full-center) {
    height: 100vh;
  }
}
/** Specific **/
div.container-practice {
  display: inline-flex;
  width: 100%;
  min-height: 10%;
  height: fit-content;
}
div.container-practice.border-red {
  border: 1px solid darkred;
  background-color: darkred;
}
div.container-practice.border-orange {
  border: 1px solid darkorange;
  background-color: darkorange;
}
div.container-practice.border-green {
  border: 1px solid darkgreen;
  background-color: darkgreen;
}
div.container-practice .icon-satisfaction {
  min-height: 100%;
  max-height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
div.container-practice .code {
  background-color: white;
  flex: 2;
  display: flex;
  align-items: center;
  padding: 1em 0 1em 3em;
}

.reveal .slides section.sfeir-basic-slide.no-title-margin h1 + * {
  top: -90px;
  margin-top: -90px;
}

.reveal .slides section:not(.sfeir-specific-slide):not(.stack):not([class*=transition]) h1 ~ h2,
.reveal .slides section:not(.sfeir-specific-slide):not(.stack):not([class*=transition]) h2 ~ h3,
.reveal .slides section:not(.sfeir-specific-slide):not(.stack):not([class*=transition]) h1 ~ h3,
.reveal .slides section.sfeir-basic-slide:not(.stack):not([class*=transition]) h1 ~ h2,
.reveal .slides section.sfeir-basic-slide:not(.stack):not([class*=transition]) h2 ~ h3,
.reveal .slides section.sfeir-basic-slide:not(.stack):not([class*=transition]) h1 ~ h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-axololt:not(.stack):not([class*=transition]) h1 ~ h2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-axololt:not(.stack):not([class*=transition]) h2 ~ h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-axololt:not(.stack):not([class*=transition]) h1 ~ h3 {
  margin-top: 0;
}
.reveal .slides section:not(.sfeir-specific-slide):not(.stack):not([class*=transition]) h1 + h2,
.reveal .slides section:not(.sfeir-specific-slide):not(.stack):not([class*=transition]) h2 + h3,
.reveal .slides section:not(.sfeir-specific-slide):not(.stack):not([class*=transition]) h1 + h3,
.reveal .slides section.sfeir-basic-slide:not(.stack):not([class*=transition]) h1 + h2,
.reveal .slides section.sfeir-basic-slide:not(.stack):not([class*=transition]) h2 + h3,
.reveal .slides section.sfeir-basic-slide:not(.stack):not([class*=transition]) h1 + h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-axololt:not(.stack):not([class*=transition]) h1 + h2,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-axololt:not(.stack):not([class*=transition]) h2 + h3,
.reveal .slides section.sfeir-specific-slide.sfeir-bg-axololt:not(.stack):not([class*=transition]) h1 + h3 {
  margin-top: -90px;
}

.sfeir-basic-slide ul,
.sfeir-basic-slide ol,
.sfeir-basic-slide dl {
  list-style-position: inside;
}

/*# sourceMappingURL=angular.css.map */
