#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#app__header {
  flex: 1;
  display: flex;
  align-items: center;
  background-image: url('../assets/sfeir_header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#app__header .logo-slogan {
  display: flex;
  align-items: center;
  padding: 0 0 0 2rem;
  box-sizing: border-box;
}

.logo-slogan .sfeir-logo {
  margin-right: 5rem;
}

.logo-slogan .slogan {
  font-size: 5rem;
  color: white;
}

.slogan > em {
  position: relative;
  z-index: 3;
}

.slogan > em::after {
  content: '';
  position: absolute;
  display: block;
  background-color: rgb(240, 11, 81);
  top: 61%;
  left: -0.1em;
  right: -0.1em;
  bottom: 10%;
  z-index: -1;
}

#app__content {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app__content .container-card {
  height: 50%;
  width: 70%;
}

.container-card .drag-drop-zone {
  height: 100%;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
}
