<section [ngSwitch]="view">
  <section *ngSwitchCase="'card'">
    <sfeir-card *ngFor="let person of people" [person]="person" (personDelete)="delete($event)"></sfeir-card>
  </section>

  <section *ngSwitchCase="'list'">
    <mat-list>
      <mat-list-item *ngFor="let person of people" class="mat-whiteframe-2dp mat-card">
        <img mat-list-avatar src="{{ person.photo }}" />
        <h3 mat-line>{{ person.firstname }} {{ person.lastname }}</h3>
        <p mat-line>
          <span> {{ person.entity }} </span> — <span>{{ person.email }} </span>
        </p>
      </mat-list-item>
    </mat-list>
  </section>
</section>

<section class="buttons-fab">
  <button (click)="switchView()" mat-fab color="warn">
    <i class="material-icons" *ngIf="view === 'card'">list</i>
    <i class="material-icons" *ngIf="view === 'list'">view_stream</i>
  </button>
</section>
