h1 {
  text-align: center;
}

section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.list {
  padding-bottom: 100px;
}

.dialog-modal {
  top: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  flex-basis: auto;
  visibility: hidden;
  color: white;
}
.dialog-modal.active {
  visibility: visible;
}
