<mat-card class="mat-whiteframe-2dp">
  <mat-card-title>
    <span *ngIf="isUpdateMode; else updateModeOff"
      >Update {{ form.controls.firstname.value }} {{ form.controls.lastname.value }}</span
    >
    <ng-template #updateModeOff>
      <span>Create new person</span>
    </ng-template>
  </mat-card-title>

  <mat-card-content>
    <form novalidate [formGroup]="form">
      <p *ngIf="isUpdateMode">
        <span style="width:100%">ID (disabled)</span><br />
        <span style="width:100%">{{ model.id }}</span>
      </p>

      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
            <p [class.errors]="form.controls.firstname.dirty && form.controls.firstname.invalid">
              <sfeir-input placeholder="First Name" formControlName="firstname"></sfeir-input>

              <span *ngIf="form.controls.firstname.dirty && form.controls.firstname.errors?.required"
                ><br />First name is required</span
              >
              <span *ngIf="form.controls.firstname.dirty && form.controls.firstname.errors?.minlength"
                ><br />First name is 2 chars min</span
              >
            </p>

            <p [class.errors]="form.controls.lastname.dirty && form.controls.lastname.invalid">
              <sfeir-input placeholder="First Name" formControlName="lastname"></sfeir-input>

              <span *ngIf="form.controls.lastname.dirty && form.controls.lastname.errors?.required"
                ><br />Last name is required</span
              >
              <span *ngIf="form.controls.lastname.dirty && form.controls.lastname.errors?.minlength"
                ><br />Last name is 2 chars min</span
              >
            </p>
          </td>
          <td class="align-right">
            <img width="100" src="{{ form.controls.photo.value }}" />
            <input type="hidden" formControlName="photo" name="photo" />
          </td>
        </tr>
      </table>

      <p [class.errors]="form.controls.email.dirty && form.controls.email.invalid">
        <sfeir-input placeholder="Email *" formControlName="email"></sfeir-input>
        <span *ngIf="form.controls.email.dirty && form.controls.email.errors?.required">Email is mandatory</span>
        <span
          *ngIf="
            form.controls.email.dirty && form.controls.email.errors?.sfeirEmail && !form.controls.email.errors?.required
          "
          ><br />Invalid email (ex: chegham.w@sfeir.com)</span
        >
      </p>

      <p formGroupName="address">
        <sfeir-input formControlName="street" placeholder="Address"></sfeir-input>
      </p>

      <p formGroupName="address">
        <sfeir-input formControlName="city" placeholder="City"></sfeir-input>
        <sfeir-input formControlName="postalCode" placeholder="Postal Code"></sfeir-input>
      </p>

      <p [class.errors]="form.controls.phone.dirty && form.controls.phone.invalid">
        <sfeir-input formControlName="phone" placeholder="Phone * (ex: 0612345678)"></sfeir-input>

        <span *ngIf="form.controls.phone.dirty && form.controls.phone.errors?.required">Phone number is mandatory</span>
        <span
          *ngIf="
            form.controls.phone.dirty && !form.controls.phone.errors?.required && form.controls.phone.errors?.pattern
          "
          >Phone number must be 10 digits</span
        >
      </p>

      <p>
        <mat-checkbox name="isManager" formControlName="isManager">Manager</mat-checkbox>
      </p>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button type="button" (click)="cancel()">Cancel</button>
    <button mat-button color="primary" type="submit" (click)="submit(form.value)" [disabled]="!form.valid">Save</button>
  </mat-card-actions>
</mat-card>
