<mat-card class="mat-whiteframe-2dp">
  <mat-card-title>
    <span>{{ person?.id ? 'Update Existing Person' : 'Create new person' }}</span>
  </mat-card-title>
  <mat-card-content>
    <form novalidate [formGroup]="personForm">
      <section class="form-container">
        <section class="form-container__image">
          <img width="100" [src]="person?.photo || 'https://randomuser.me/api/portraits/lego/6.jpg'" />
          <input type="hidden" formControlName="photo" name="photo" />
        </section>
        <section>
          <div>
            <sfeir-input formControlName="firstname" placeholder="First Name">
              <mat-error *ngIf="personForm.controls.firstname.errors?.required">Ce champs est requis</mat-error>
              <mat-error *ngIf="personForm.controls.firstname.errors?.minlength"
                >Ce champs doit posséder au minimum 2 caractères
              </mat-error>
            </sfeir-input>
          </div>
          <div>
            <sfeir-input formControlName="lastname" placeholder="Last Name">
              <mat-error *ngIf="personForm.controls.lastname.errors?.required">Ce champs est requis</mat-error>
              <mat-error *ngIf="personForm.controls.lastname.errors?.minlength"
                >Ce champs doit posséder au minimum 2 caractères
              </mat-error>
            </sfeir-input>
          </div>
          <div>
            <sfeir-input formControlName="email" placeholder="email">
              <mat-error *ngIf="personForm.controls.email.errors?.required">Ce champs est requis</mat-error>
              <mat-error *ngIf="personForm.controls.email.errors?.sfeirEmail"
                >Le format est incorrect (frizzarin.n@sfeir.com)</mat-error
              >
            </sfeir-input>
          </div>
          <div>
            <sfeir-input formControlName="phone" placeholder="phone">
              <mat-error *ngIf="personForm.controls.phone.errors?.required">Ce champs est requis</mat-error>
              <mat-error *ngIf="personForm.controls.phone.errors?.pattern"
                >Pattern incorrect (10 chiffres requis)
              </mat-error>
            </sfeir-input>
          </div>
        </section>
      </section>
    </form>
    <mat-card-actions align="end">
      <button mat-button type="button" (click)="cancel()">Cancel</button>
      <button mat-button color="primary" type="submit" (click)="add()" [disabled]="personForm.invalid">Save</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
