<section id="sfeir-card">
  <div id="sfeir-card__title" *ngIf="cardTitle">
    <ng-content select="sfeir-card-title"></ng-content>
  </div>
  <div id="sfeir-card__subtitle" *ngIf="cardSubtitle">
    <ng-content select="sfeir-card-subtitle"></ng-content>
  </div>
  <div id="sfeir-card__content" *ngIf="cardContent">
    <ng-content select="sfeir-card-content"></ng-content>
  </div>
  <div id="sfeir-card__footer" *ngIf="cardFooter">
    <ng-content select="sfeir-card-footer"></ng-content>
  </div>
</section>
