<!-- This component is an Angular Material Component, this is not important for the formation, to have more details on this component, please take take a look: https://material.angular.io/ -->
<ng-template #headerTemplate>
  <mat-toolbar class="extend-toolbar">
    <span>
      <a [routerLink]="['home']"> <img src="assets/images/logo-sfeir.svg" aria-label="sfeir" alt="Sfeir" /> </a>
    </span>

    <span class="flex"></span>

    <span> <a href="/locator">Maps</a> <a [routerLink]="['people']">List</a> </span>
  </mat-toolbar>
</ng-template>

<sfeir-header [headerTemplate]="headerTemplate"></sfeir-header>

<router-outlet></router-outlet>
